<form id="favorite-button-<%= product['id'] %>" method="POST" action="/products/<%= product['id'] %>/<%= user_id %>/newFavorite">
  <button type="submit" class="btn btn-primary">Favorite This</button>
</form>
