<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <nav class="footer-main">
    <% if (user_email && !is_admin) { %>
      <div class="footer">
        <a class="footer-item footer-link" href="/">Contact Admin</a>
        </div>
      <% } else { %>
        <div class="footer">
        </div>
    <% } %>
  </nav>
</body>
</html>
