<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet"

</head>

<header>

  <nav class="header-main">
    <% if (user_email && !is_admin) { %>
      <div class="nav">
        <div class="nav-left">
          <h5 id="logo">
            Laptop Station
          </h5>
        <a class="nav-item-nav-link" href="/">Home</a>
        <a class="nav-item-nav-link" href="/products">Our Products</a>
        <a class="nav-item-nav-link" href="/favorites">Favorites</a>
        <a class="nav-item-nav-link" href="/products/newProducts">Create Post</a>
        <a class="nav-item-nav-link" href="/messages">Messages</a>
        </div>
        <div class="nav-right">
      <form method="POST" action="/logout" class="form-inline">
        <a class="logged-in-as" style="margin: 1em">Logged In As User: <%= user_email %></a>
        <button type="submit" class="btn btn-primary" style="margin-right: 10px">Logout</button>
      </form>
    </div>
      <% } else if (user_email && is_admin) { %>
        <div class="nav">
          <div class="nav-left">
            <h5 id="logo">Laptop Station</h5>
          <a class="nav-item-nav-link" href="/">Home</a>
          <a class="nav-item-nav-link" href="/products">Our Products</a>
          <a class="nav-item-nav-link" href="/newProduct">Create Post</a>
          <a class="nav-item-nav-link" href="/messages">Messages</a>
          </div>
          <div class="nav-right">
        <form method="POST" action="/logout" class="form-inline">
          <a class="logged-in-as" style="margin: 1em">Logged In As Admin: <%= user_email %></a>
          <button type="submit" class="btn btn-primary" style="margin-right: 10px">Logout</button>
        </form>
      </div>
      <% } else { %>
      <div class="nav">
        <div class="nav-left">
          <h5 id="logo">Laptop Station</h5>
        <a class="nav-item-nav-link" href="/">Home</a>
        <a class="nav-item-nav-link" href="/products">Our Products</a>
      </div>
      <div class="nav-right">
        <a class="nav-item-nav-link" href="/register">Register</a>
        <a class="nav-item-nav-link" href="/login" style="margin-right: 10px">Login</a>
    </div>
      </div>
    <% } %>
  </nav>
</header>

</html>
