<form id="unfavorite-button-<%= product['id'] %>" method="POST" action="/products/<%= product['id'] %>/<%= user_id %>/unFavorite" style="display: none;">
  <button type="submit" class="btn btn-danger">Unfavorite This</button>
</form>