<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/products.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <!-- <script type="text/javascript" src="/scripts/products_scripts.js"></script> -->

  <title>Products</title>
</head>

<body>
  <!-- Nav-header partial -->
  <!-- ADD LINK TO PARTIAL HEADER LATER -->

  <header class='header'>
    <h1>Products</h1>
  </header>

  <main class='products-container'>
  <!-- Dynamically generated products -->
    <article class="product">
      <div class="image-content">
        <img src="" alt="computer.png">
      </div>

      <div class="product-content">
        <div class="description-section">
          <h3>Product Name</h3>
          <p>This is the product description</p>
        </div>

        <div class="buttons-section">
          <button>Button 1</button>
          <button>Button 2</button>
          <button>Button 3</button>
        </div>

      </div>

    </article>

  </main>
</body>

</html>