div.message-history {
  width: 700px;
}

div.no-existing-messages {
  width: 700px;
  display: flex;
justify-content: center;
font-family: "Roboto Mono", monospace;
font-size: 15px;
}

div.individual-message {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  width: 700px;
}

div.individual-message-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
}

div.message-names {
  padding-left: 10px;
}

div.message-content {
  display: flex;
  flex-direction: column;
 padding: 10px;
  background-color: white;

}

div.content {
  font-weight: bold;
}

div.timestamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 10px;
}

form.message-box {
  height: 100px;
  width: 700px;
}

div.back-to-messages {
  margin-top: -10px;
}

div.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: flex-start;
  width: 100%;
}

textarea#message {
  height: 150px;
  width: 100%;
  border-color: transparent;
  border-radius: 15px;
  padding: 15px;
}

section.new-message, section.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

div.create-message {
  display: flex;
  flex-direction: column;
}

#submit-message {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

input[type=submit],
input[type=submit] {
  background: #0765b3;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
}

input[type=submit]:hover,
input[type=submit]:hover {
  background: #0f548d;
}

/* Buttons' focus effect */
input[type=submit]:focus,
input[type=submit]:focus {
  border-color: #05a;
}

h1.new-message {
  color: #05a;
  font-family: "Roboto Mono", monospace;
}

button.conversation-button {
  border-radius: 25px;
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 700px;
  color: white;
  background: #0765b3;
  border-color: transparent;
  cursor: pointer;
  margin-bottom: 15px;
}

button.conversation-button:hover {
  background: #0f548d;
}

button.conversation-button:focus {
  border-color: #05a;
}

div.message-bar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.message-name {
  font-size: 25px;
}
