html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

.header {
  display: flex;
  justify-content: center;
}

#products-container {
  margin: 1em 12em 5em 12em;
}

.product {
  display: flex;
  justify-content: space-between;
  margin: 2em 8em;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}

.description-section {
  display: flex;
  flex-direction: column;
}

.description-section p {
  justify-content: center;
}

.button-section {
  display: flex;
  justify-content: space-between;
}


#product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // border: 1px solid black;

}


#product-image {
  // border: 1px solid black;
}

#product-description {
  // border: 1px solid black;
}

#product-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // border: 1px solid black;


}

#product-page-image {
  // border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
}



#product-page-description {
  // border: 1px solid black;
}


form.contact-seller-button {
  margin-top: 10px;
}

#product_image {
  width: 500px;
  height: 400px;
}



/* The sidepanel menu */
.sidepanel {
  height: 400px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  margin-top: 7em;
}

.sidepanel h3 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel label {
  padding: 2px 2px 0 2px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidepanel button {
  position: absolute;
  right: 25px;
  bottom: 20px;
  font-size: 20px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 15%;
}

.openbtn:hover {
  background-color: #444;
}