div#single-product-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img#single_product_image {
  height: 300px;
  width: 400px;
}

div#single-product-container {
  display: flex;
  padding: 30px;
  background-color: white;
  border-radius: 40px;
  height: 500px;
}

div#single-page-description {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

main#productPage-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.single-product-image {
  display: flex;
  align-items: center;
}

div.single-product-page-buttons {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-top: 30px;
}
